In [3]:

from skyfield.api import load
import numpy as np
import pandas as pd
from tqdm import tqdm

pd.set_option('display.max_columns', 10) 
pd.set_option('display.max_rows', 10000)
pd.set_option('display.width', 300)
pd.set_option('display.max_colwidth', 300)

eph = load('de422.bsp')

planets = {
        'sun': eph['sun'],
        'mercury': eph['mercury'],
        'venus': eph['venus'],
        'earth': eph['earth'],
        'moon': eph['moon'],
        'mars': eph['mars'],
        'jupiter': eph['jupiter barycenter'],
        'saturn': eph['saturn barycenter'],
        'uranus': eph['uranus barycenter'],
        'neptune': eph['neptune barycenter'],
        'pluto': eph['pluto barycenter'] }

earth = planets['earth']

In [4]:
def in_conjunction(angles):
    sorted_angles = np.sort(angles.values)
    # sorted_angles_shifted = sorted_angles.take(range(1, len(angles)+1), mode='wrap')
    sorted_angles_shifted = np.roll(sorted_angles, -1)
    # print("sorted_angles = ", sorted_angles, "sorted_angles_shifted = ", sorted_angles_shifted)
    sorted_angles_diff = sorted_angles_shifted - sorted_angles
    sorted_angles_diff[-1] += 360.0
    sorted_angles_diff = list(map(lambda x: 360.0 - x if (x > 180.0) else x, sorted_angles_diff))
    # print(sorted_angles_diff)
    max_angle = max(sorted_angles_diff)
    return True if (max_angle < conjunction_span_degrees) else False

In [5]:
planet_names_of_interest = ['sun', 'mercury', 'venus', 'mars', 'jupiter', 'saturn']
conjunction_span_degrees = 45

In [6]:
ts = load.timescale(builtin=True)
t = ts.utc(1600, 1, range(0, 500*366, 1), 0, 0, 0)

In [9]:
t

In [ ]:
df = pd.DataFrame(index=t.utc_datetime(), columns=planet_names_of_interest)

In [10]:
df

                                  sun     mercury       venus        mars     jupiter      saturn
1599-12-31 00:00:00+00:00  284.549682  291.395966  263.792748  143.216989  146.549831  212.905649
1600-01-01 00:00:00+00:00  285.568778  293.043846  263.540332  143.061517  146.476452  212.967361
1600-01-02 00:00:00+00:00  286.587841  294.695831  263.329079  142.892569  146.400246  213.027604
1600-01-03 00:00:00+00:00  287.606878  296.351381  263.159480  142.710204  146.321252  213.086362
1600-01-04 00:00:00+00:00  288.625892  298.009793  263.031763  142.514510  146.239514  213.143622
...                               ...         ...         ...         ...         ...         ...
2101-01-08 00:00:00+00:00  286.091197  305.336596  273.203091  257.591192  226.739219  216.031741
2101-01-09 00:00:00+00:00  287.110187  306.209886  274.459277  258.306913  226.895368  216.095795
2101-01-10 00:00:00+00:00  288.129065  306.960708  275.715440  259.023249  227.049679  216.158398
2101-01-11 00:00:00+00:00  289.147828  307.574046  276.971579  259.740203  227.202129  216.219537
2101-01-12 00:00:00+00:00  290.166471  308.034887  278.227693  260.457778  227.352690  216.279197

[183000 rows x 6 columns]

In [7]:
for pn in planet_names_of_interest: 
    print("Computing coordinates of {}".format(pn))
    observer = earth.at(t)
    planet = planets[pn]
    lat, lon, distance = observer.observe(planet).ecliptic_latlon()
    df.loc[:, pn] = lon.degrees

Computing coordinates of sun
Computing coordinates of mercury
Computing coordinates of venus
Computing coordinates of mars
Computing coordinates of jupiter
Computing coordinates of saturn

In [8]:
df

                                  sun     mercury       venus        mars     jupiter      saturn
1599-12-31 00:00:00+00:00  284.549682  291.395966  263.792748  143.216989  146.549831  212.905649
1600-01-01 00:00:00+00:00  285.568778  293.043846  263.540332  143.061517  146.476452  212.967361
1600-01-02 00:00:00+00:00  286.587841  294.695831  263.329079  142.892569  146.400246  213.027604
1600-01-03 00:00:00+00:00  287.606878  296.351381  263.159480  142.710204  146.321252  213.086362
1600-01-04 00:00:00+00:00  288.625892  298.009793  263.031763  142.514510  146.239514  213.143622
...                               ...         ...         ...         ...         ...         ...
2101-01-08 00:00:00+00:00  286.091197  305.336596  273.203091  257.591192  226.739219  216.031741
2101-01-09 00:00:00+00:00  287.110187  306.209886  274.459277  258.306913  226.895368  216.095795
2101-01-10 00:00:00+00:00  288.129065  306.960708  275.715440  259.023249  227.049679  216.158398
2101-01-11 00:00:00+00:00  289.147828  307.574046  276.971579  259.740203  227.202129  216.219537
2101-01-12 00:00:00+00:00  290.166471  308.034887  278.227693  260.457778  227.352690  216.279197

[183000 rows x 6 columns]

In [11]:
print("Calculating conjunctions...")

for index, row in tqdm(df.iterrows(), total=df.shape[0]):

    result = in_conjunction(row)
    df.at[index, 'in_conjunction'] = result

in_conjunction = df.loc[:, 'in_conjunction']
in_conjunction_shifted = np.roll(in_conjunction, 1)
df.loc[:, 'conjunction_change'] = in_conjunction ^ in_conjunction_shifted;
conjunction_change = df.loc[:, 'conjunction_change']

df.loc[:, 'conjunction_start'] = in_conjunction & conjunction_change;
df.loc[:, 'conjunction_end'] = np.invert(in_conjunction) & conjunction_change;

  0%|          | 0/183000 [00:00<?, ?it/s]

Calculating conjunctions...

100%|██████████| 183000/183000 [01:11<00:00, 2559.40it/s]

In [12]:
print("Post processing conjunction data ...")

for index, row in tqdm(df.iterrows(), total=df.shape[0]):
    if (row['conjunction_start']):
        df.at[index, 'label'] = 'Conjunction Start'
    elif (row['conjunction_end']):
        df.at[index, 'label'] = 'Conjunction End'

print(df.loc[df['conjunction_change'] == True, planet_names_of_interest + ['label']])

  0%|          | 0/183000 [00:00<?, ?it/s]

Post processing conjunction data ...

100%|██████████| 183000/183000 [01:12<00:00, 2537.53it/s]

                                  sun     mercury       venus        mars     jupiter      saturn              label
1602-10-17 00:00:00+00:00  208.919908  208.105226  248.433165  252.990376  216.144312  236.577336  Conjunction Start
1602-10-31 00:00:00+00:00  222.916395  230.710730  265.001227  263.333751  219.211244  238.157415    Conjunction End
1624-07-27 00:00:00+00:00  129.390750  125.714842  113.873057  136.525042  158.352808  145.177166  Conjunction Start
1624-09-23 00:00:00+00:00  185.539461  198.168163  185.658043  173.489494  170.702955  152.375835    Conjunction End
1626-09-08 00:00:00+00:00  170.359384  194.894747  203.002381  175.502347  214.746049  173.646540  Conjunction Start
1626-09-23 00:00:00+00:00  185.031508  210.444193  221.055000  185.222611  217.634078  175.515596    Conjunction End
1662-11-06 00:00:00+00:00  228.562126  247.582552  205.224841  244.077397  236.978071  249.579826  Conjunction Start
1663-01-12 00:00:00+00:00  296.624275  278.203719  289.289639  294.553985  251.273733  257.180808    Conjunction End
1664-12-11 00:00:00+00:00  264.499077  251.492839  287.211636  285.740381  295.369751  273.650474  Conjunction Start
1665-01-08 00:00:00+00:00  293.036729  295.746920  322.024070  307.639114  301.767222  276.924325    Conjunction End
1680-06-10 00:00:00+00:00   84.218358   61.810069   60.524089   58.985039   64.353293  103.484503  Conjunction Start
1680-07-14 00:00:00+00:00  116.637761  118.190603  101.858564   82.728143   71.637173  107.872835    Conjunction End
1682-06-29 00:00:00+00:00  101.837574  120.373799  120.341607   85.789367  120.424828  130.327270  Conjunction Start
1682-07-12 00:00:00+00:00  114.234939  140.031024  136.210782   94.567225  123.262582  131.911224    Conjunction End
1684-08-25 00:00:00+00:00  156.909518  158.198349  175.731192  136.090982  180.759727  161.129542  Conjunction Start
1684-09-15 00:00:00+00:00  177.328025  194.507712  164.400414  149.376816  185.197583  163.766667    Conjunction End
1720-10-12 00:00:00+00:00  202.710191  192.747407  214.944550  192.769648  200.470938  237.289251  Conjunction Start
1720-11-11 00:00:00+00:00  232.718924  241.829085  252.354239  212.600161  206.868479  240.666217    Conjunction End
1723-01-15 00:00:00+00:00  298.262502  289.504338  313.106407  271.811160  269.225419  268.223908  Conjunction Start
1723-01-31 00:00:00+00:00  314.521225  316.227472  303.943359  283.700623  272.517191  269.844531    Conjunction End
1725-02-02 00:00:00+00:00  317.041707  326.640473  283.119138  301.316740  325.952495  290.369113  Conjunction Start
1725-02-23 00:00:00+00:00  338.240297  313.590230  308.908039  317.681507  330.995336  292.519606    Conjunction End
1761-02-22 00:00:00+00:00  336.995846  335.342469   20.243204  352.442371  341.926203    1.434644  Conjunction Start
1761-03-02 00:00:00+00:00  345.021878  350.517583   29.277948  358.669854  343.860890    2.387652    Conjunction End
1803-08-30 00:00:00+00:00  158.366376  170.710942  146.260024  188.534011  190.244218  174.358519  Conjunction Start
1803-10-25 00:00:00+00:00  213.381793  212.265587  216.056795  226.203968  202.121496  181.160739    Conjunction End
1821-03-09 00:00:00+00:00  350.634964    8.837551  331.321914  338.009612    4.397060   15.462934  Conjunction Start
1821-05-26 00:00:00+00:00   66.861038   61.238118   67.627109   38.040112   22.525633   24.866317    Conjunction End
1823-04-22 00:00:00+00:00   33.514372   25.300782   62.074267   27.500623   70.241952   44.222399  Conjunction Start
1823-05-15 00:00:00+00:00   55.792191   72.755613   89.653305   44.600333   75.249143   47.168120    Conjunction End
1859-07-12 00:00:00+00:00  111.039676  130.350864   90.128841  113.971431   99.224512  134.304742  Conjunction Start
1859-07-23 00:00:00+00:00  121.533517  147.011333  103.513030  121.086470  101.672473  135.666397    Conjunction End
1861-07-15 00:00:00+00:00  114.360403  126.757420  131.806543  128.362473  149.715616  158.624743  Conjunction Start
1861-09-16 00:00:00+00:00  175.015746  184.229419  208.476044  168.447175  163.038939  166.125734    Conjunction End
1863-09-04 00:00:00+00:00  162.842923  186.795071  194.714241  172.358917  207.778273  187.100464  Conjunction Start
1863-11-20 00:00:00+00:00  239.111695  232.311707  193.941874  223.261900  223.903348  196.158665    Conjunction End
1899-10-30 00:00:00+00:00  217.761633  235.055169  229.116854  238.348199  229.007850  262.064247  Conjunction Start
1899-12-13 00:00:00+00:00  262.199128  248.039120  284.102666  270.759759  238.644994  266.880392    Conjunction End
1902-01-01 00:00:00+00:00  281.025126  280.285397  324.911572  300.590314  292.762445  289.070260  Conjunction Start
1902-02-20 00:00:00+00:00  331.803625  329.463007  323.664397  340.061934  304.356683  294.765241    Conjunction End
1919-09-08 00:00:00+00:00  165.417041  149.274565  173.461363  131.155386  128.898993  154.464954  Conjunction Start
1919-09-19 00:00:00+00:00  176.125928  168.913111  166.871768  138.067145  131.012909  155.826443    Conjunction End
1921-10-30 00:00:00+00:00  217.127234  220.425310  192.565407  176.368066  188.292062  183.704598  Conjunction Start
1921-11-10 00:00:00+00:00  228.157829  211.528966  206.251248  183.134817  190.461899  184.873159    Conjunction End
1923-11-04 00:00:00+00:00  221.611372  214.192503  235.794912  191.805349  236.485964  206.241986  Conjunction Start
1923-11-06 00:00:00+00:00  223.617107  217.489322  238.292978  193.083593  236.923130  206.479304    Conjunction End
1959-12-29 00:00:00+00:00  277.080369  261.081501  235.368080  258.685771  258.644385  279.666386  Conjunction Start
1960-01-29 00:00:00+00:00  308.651642  310.305239  272.759563  281.558802  265.108521  283.257276    Conjunction End
1961-12-25 00:00:00+00:00  273.496453  278.441986  265.501518  270.733125  309.469541  299.428922  Conjunction Start
1962-03-05 00:00:00+00:00  344.473075  317.417726  353.345218  324.782613  325.804331  307.460445    Conjunction End
2000-04-15 00:00:00+00:00   25.336869    3.066948   10.150003   46.664470   42.398290   47.170437  Conjunction Start
2000-06-06 00:00:00+00:00   75.603370   99.221904   74.123425   82.905424   54.653134   53.762827    Conjunction End
2002-05-21 00:00:00+00:00   59.757389   68.946143   90.503409   85.030685  104.402367   75.922427  Conjunction Start
2002-06-04 00:00:00+00:00   73.191254   62.090957  107.189614   94.256777  107.156587   77.720605    Conjunction End
2038-08-12 00:00:00+00:00  138.890634  126.837138  121.072272  165.112989  132.377532  165.192745  Conjunction Start
2038-09-10 00:00:00+00:00  166.878954  160.977579  156.802657  183.636423  138.598848  168.738201    Conjunction End
2040-08-17 00:00:00+00:00  144.154398  148.053792  165.357861  181.006128  181.493682  188.561720  Conjunction Start
2040-10-17 00:00:00+00:00  203.672744  213.238128  239.606174  221.375729  194.285306  195.630503    Conjunction End
2042-10-21 00:00:00+00:00  207.137110  198.118391  204.363616  237.636541  242.583522  217.387532  Conjunction Start
2042-10-31 00:00:00+00:00  217.102414  215.001258  199.208222  244.810534  244.642651  218.586791    Conjunction End
2058-03-23 00:00:00+00:00    1.801418    1.884612   22.362814  349.053121    0.102294   33.721468  Conjunction Start
2058-04-06 00:00:00+00:00   15.643384  354.140362   39.578415    0.005497    3.477281   35.395390    Conjunction End
2060-04-20 00:00:00+00:00   29.846139   22.823363   67.679596   26.797713   62.466686   61.298289  Conjunction Start
2060-07-21 00:00:00+00:00  118.183277   99.711475   73.090276   92.530329   83.287119   72.595110    Conjunction End
2062-07-15 00:00:00+00:00  111.974612  119.695618   88.626925  101.246022  132.950360   96.660232  Conjunction Start
2062-07-28 00:00:00+00:00  124.380982  143.799637  104.403809  109.828066  135.744224   98.277889    Conjunction End
2098-08-28 00:00:00+00:00  153.924561  148.274578  192.659702  156.402062  152.388356  179.673323  Conjunction Start
2098-09-30 00:00:00+00:00  186.042541  205.514117  189.739367  177.495853  159.433641  183.677631    Conjunction End
2100-10-13 00:00:00+00:00  198.347081  190.733875  165.054194  197.785134  209.184146  206.935107  Conjunction Start
2100-12-07 00:00:00+00:00  253.521612  258.338646  233.048889  235.027403  220.943431  213.314614    Conjunction End